@font-face{
font-family: minecraft;
src: url(../img/MinecraftTen-VGORe.ttf)
}
@font-face{
    font-family: minecraft_reg;
    src: url(../img/MinecraftRegular-Bmg3.otf)
}
body{
    background-image: url(../img/background2.png);
    background-size: cover;
    font-family: minecraft;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
}
h1{
    font-size: 2in;
}
.text{
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    /*3D Text (2018), Ryan Web Tech, Version 1.0, https://codepen.io/ryandsouza13/pen/yEBJQV*/
    margin-bottom: 0;
}
.text2{
    text-shadow: 1px 1px 1px #928d02,
        1px 2px 1px #928d02,
        1px 3px 1px #928d02,
        1px 4px 1px #928d02,
        1px 5px 1px #928d02,
        1px 6px 1px #928d02,
        1px 7px 1px #928d02,
        1px 8px 1px #928d02,
        1px 9px 1px #928d02,
        1px 10px 1px #928d02,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
    padding-left: 900px;
    font-size: .5in;
    color: #FDF40E;
    
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    margin: 50px;
}
button{
    font-family: minecraft_reg;
    color: white;
    background-image: url(../img/bar\ 1.png);
    background-size: cover;
    width: 400px;
    height: 80px;
    font-size: .6in;
    box-shadow: 5px 7px rgb(34, 34, 34);
}
#single {
margin-bottom: 25px;
}

.buttonbox{
    width: 800px;
    height: 90px;
}